In [1]:
from finlab.crawler import table_date_range, update_table, to_pickle, out, commit,merge, date_range
import datetime
from io import StringIO
import requests
from bs4 import BeautifulSoup
import time

import numpy as np
#import matplotlib.pyplot as plt
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
#import pandas_datareader.data as web

import os
from openpyxl import load_workbook

In [2]:
df = pd.read_pickle("history/tables/bargin_report_new.pkl")

In [3]:
print(df.shape) #org (142831, 15)

#print(df.index.names)
#print(df.tail())
print(df.sort_index(level='date', ascending=True).head(1).index.get_level_values('date'))
print(df.sort_index(level='date', ascending=True).tail(1).index.get_level_values('date'))
df[df.index.get_level_values('stock_id')=="1101 台泥"].head()
df[df.index.get_level_values('stock_id')=="1101 台泥"].tail()

(1417976, 15)
DatetimeIndex(['2012-05-02'], dtype='datetime64[ns]', name='date', freq=None)
DatetimeIndex(['2020-06-12'], dtype='datetime64[ns]', name='date', freq=None)

                    外陸資買進股數(不含外資自營商) 外陸資賣出股數(不含外資自營商) 外陸資買賣超股數(不含外資自營商)  \
stock_id date
1101 台泥  2020-06-08          6213000          3694848           2518152
         2020-06-09          3580046          6129148          -2549102
         2020-06-10         14379207          6745767           7633440
         2020-06-11          6428842          6964313           -535471
         2020-06-12         10355733         11410996          -1055263

                    外資自營商買進股數 外資自營商賣出股數 外資自營商買賣超股數  投信買進股數  投信賣出股數  投信買賣超股數  \
stock_id date
1101 台泥  2020-06-08       0.0       0.0        0.0  321000  185000   136000
         2020-06-09       0.0       0.0        0.0    2000  669000  -667000
         2020-06-10       0.0       0.0        0.0   41000   16000    25000
         2020-06-11       0.0       0.0        0.0       0  476000  -476000
         2020-06-12       0.0       0.0        0.0  604000  814000  -210000

                    自營商買進股數(自行買賣) 自營商賣出股數(自行買賣) 自營商買賣超股數(自行買賣) 自營商買進股數(避險)  \
stock_id date
1101 台泥  2020-06-08          4000        110000        -106000       68000
         2020-06-09             0        150000        -150000       53000
         2020-06-10         32000        559000        -527000       28000
         2020-06-11             0        248000        -248000           0
         2020-06-12        896000         82000         814000           0

                    自營商賣出股數(避險) 自營商買賣超股數(避險)
stock_id date
1101 台泥  2020-06-08       60000         8000
         2020-06-09       66000       -13000
         2020-06-10      131000      -103000
         2020-06-11      165000      -165000
         2020-06-12      153000      -153000

In [ ]:

def expand_bargin20171218_20190211(date):
    
    URL = 'https://www.twse.com.tw/fund/T86?response=csv&date='+date.strftime("%Y%m%d")+'&selectType=ALLBUT0999'
    res = requests.get(URL)
    time.sleep(5)
    if len(res.text) < 100:
        print('holiday')
        return pd.DataFrame()

    df1 = pd.read_csv(StringIO(res.text.replace("=","")), header=1)
    time.sleep(5)
    df1 = df1.dropna(how='all', axis=0).dropna(how='all', axis=1)
    df1=df1[df1['證券名稱'].notna()]

    id=[]

    for i in range(len(df1)):
        id.append(df1['證券代號'][i].replace(' ','')+' '+df1['證券名稱'][i].replace(' ',''))
    #print(id)

    df1['stock_id']=id
    df1['date']=date

    df1=df1.set_index(['stock_id', 'date'])
    df1=df1.drop(columns=['證券代號', '證券名稱','自營商買賣超股數','三大法人買賣超股數'])
    df1 = df1.apply(lambda s: s.astype(str).str.replace(",", ""))
    print(df1.sort_index(level='date', ascending=True).head(1).index.get_level_values('date'))
    return df1

def expand_bargin20141201_20171215(date):
    
    URL = 'https://www.twse.com.tw/fund/T86?response=csv&date='+date.strftime("%Y%m%d")+'&selectType=ALLBUT0999'
    res = requests.get(URL)
    time.sleep(5)
    if len(res.text) < 100:
        print('holiday')
        return pd.DataFrame()

    df1 = pd.read_csv(StringIO(res.text.replace("=","")), header=1)
    time.sleep(5)
    df1 = df1.dropna(how='all', axis=0).dropna(how='all', axis=1)
    df1=df1[df1['證券名稱'].notna()]

    id=[]

    for i in range(len(df1)):
        id.append(df1['證券代號'][i].replace(' ','')+' '+df1['證券名稱'][i].replace(' ',''))
    #print(id)

    df1['stock_id']=id
    df1['date']=date

    df1=df1.set_index(['stock_id', 'date'])
    df1=df1.drop(columns=['證券代號', '證券名稱','自營商買賣超股數','三大法人買賣超股數'])
    df1=df1.rename(columns={"外資買進股數": "外陸資買進股數(不含外資自營商)", "外資賣出股數": "外陸資賣出股數(不含外資自營商)","外資買賣超股數":"外陸資買賣超股數(不含外資自營商)"})
    df1 = df1.apply(lambda s: s.astype(str).str.replace(",", ""))
    print(df1.sort_index(level='date', ascending=True).head(1).index.get_level_values('date'))
    return df1


def expand_bargin20120502_20141128(date):
    
    URL = 'https://www.twse.com.tw/fund/T86?response=csv&date='+date.strftime("%Y%m%d")+'&selectType=ALLBUT0999'
    res = requests.get(URL)
    time.sleep(5)
    if len(res.text) < 100:
        print('holiday')
        return pd.DataFrame()

    df1 = pd.read_csv(StringIO(res.text.replace("=","")), header=1)
    time.sleep(5)
    df1 = df1.dropna(how='all', axis=0).dropna(how='all', axis=1)
    df1=df1[df1['證券名稱'].notna()]

    id=[]

    for i in range(len(df1)):
        id.append(df1['證券代號'][i].replace(' ','')+' '+df1['證券名稱'][i].replace(' ',''))
    #print(id)

    df1['stock_id']=id
    df1['date']=date

    df1=df1.set_index(['stock_id', 'date'])
    df1=df1.drop(columns=['證券代號', '證券名稱','三大法人買賣超股數'])
    df1=df1.rename(columns={"外資買進股數": "外陸資買進股數(不含外資自營商)", "外資賣出股數": "外陸資賣出股數(不含外資自營商)",
                            "外資買賣超股數":"外陸資買賣超股數(不含外資自營商)","自營商買進股數":"自營商買進股數(自行買賣)",
                            "自營商賣出股數":"自營商賣出股數(自行買賣)","自營商買賣超股數":"自營商買賣超股數(自行買賣)"})    
    
    df1 = df1.apply(lambda s: s.astype(str).str.replace(",", ""))
    print(df1.sort_index(level='date', ascending=True).head(1).index.get_level_values('date'))
    return df1

#df_combined=pd.DataFrame()
#days=pd.date_range(start="2017-12-18",end="2019-02-11")
#for date in days:
#    df_tmp=expand_bargin20171218_20190211(date)
#    df_combined=df_combined.append(df_tmp)
#    time.sleep(10)

In [ ]:
df_combined=pd.DataFrame()
days=pd.date_range(start="2012-05-02",end="2012-06-30")
for date in days:
    df_tmp=expand_bargin20120502_20141128(date)
    df_combined=df_combined.append(df_tmp)
    time.sleep(10)
#print(df_combined[df_combined.index.get_level_values('stock_id')=="1101 台泥"].head())

In [ ]:
df_combined[df_combined.index.get_level_values('stock_id')=="1101 台泥"].head(200)

In [ ]:
df = pd.read_pickle("history/tables/bargin_report_new.pkl")
df=df.append(df_combined)
df=df.sort_index()

df.drop_duplicates(keep = 'first', inplace = True) 
print(df[df.index.get_level_values('stock_id')=="1101 台泥"].head())
print(df[df.index.get_level_values('stock_id')=="1101 台泥"].tail())
to_pickle(df, 'bargin_report_new')

In [24]:
df = pd.read_pickle("history/tables/monthly_report_new.pkl")
df[(df.index.get_level_values('stock_id')=="2330 台積電") & (df.index.get_level_values('date')>"2004-01-01")]

                          當月營收       上月營收     去年當月營收 上月比較增減(%) 去年同月增減(%)  \
stock_id date
2330 台積電 2004-01-10   18970000        NaN        NaN      2.46      68.2
         2004-02-10   19160000        NaN        NaN         1      45.9
         2004-03-10   18390000        NaN        NaN     -4.02      48.9
         2004-04-10   19970000        NaN        NaN      8.63      44.2
         2004-05-10   20630000        NaN        NaN       3.3      35.2
         2004-06-10   21720000        NaN        NaN      5.28      29.2
         2004-07-10   22520000        NaN        NaN      3.68      26.2
         2004-08-10   23150000        NaN        NaN      2.79      31.2
         2004-09-10   23410000        NaN        NaN      1.15      27.8
         2004-10-10   23170000        NaN        NaN     -1.03      22.5
         2004-11-10   22970000        NaN        NaN     -0.88      13.1
         2004-12-10   20990000        NaN        NaN     -8.64      13.4
         2005-01-10   19920000        NaN        NaN     -5.08      5.03
         2005-02-10   20842779   19919339   19155894      4.63       8.8
         2005-03-10   17200047   20842779   18385262    -17.47     -6.44
         2005-04-10   17610390   17200047   19972049      2.38    -11.82
         2005-05-10   18903406   17610390   20630606      7.34     -8.37
         2005-06-10   19507661   18903406   21719561      3.19    -10.18
         2005-07-10   20105150   19507661   22519074      3.06    -10.71
         2005-08-10   20847066   20105150   23147633      3.69     -9.93
         2005-09-10   23182037   20847066   23413876      11.2     -0.99
         2005-10-10   25228512   23182037   23173529      8.82      8.86
         2005-11-10   26227155   25228512   22969780      3.95     14.18
         2005-12-10   27518437   26227155   20985825      4.92     31.12
         2006-01-10   27415724   27518437   19919338     -0.37     37.63
         2006-02-10   26177607   27415724   20842779     -4.51     25.59
         2006-03-10   24008853   26177607   17200048     -8.28     39.58
         2006-04-10   27106885   24008853   17610390      12.9     53.92
         2006-05-10   27162375   27106885   18903406       0.2     43.69
         2006-06-10   26770174   27162375   19507661     -1.44     37.22
...                        ...        ...        ...       ...       ...
         2017-11-10   94519722   88578988   91085318       6.7      3.77
         2017-12-10   93153310   94519722   93029912     -1.44      0.13
         2018-01-10   89897252   93153310   78112022     -3.49     15.08
         2018-02-10   79740672   89897252   76616258    -11.29      4.07
         2018-03-10   64640562   79740672   71422961    -18.93     -9.49
         2018-04-10  103697437   64640562   85875181     60.42     20.75
         2018-05-10   81869781  103697437   56871933    -21.04     43.95
         2018-06-10   80968732   81869781   72795974      -1.1     11.22
         2018-07-10   70438298   80968732   84187305     -13.0    -16.33
         2018-08-10   74370924   70438298   71611190      5.58      3.85
         2018-09-10   91055038   74370924   91917167     22.43     -0.93
         2018-10-10   94921920   91055038   88578988      4.24      7.16
         2018-11-10  101550181   94921920   94519722      6.98      7.43
         2018-12-10   98389414  101550181   93153310     -3.11      5.62
         2019-01-10   89830598   98389414   89897252     -8.69     -0.07
         2019-02-10   78093827   89830598   79740672    -13.06     -2.06
         2019-03-10   60889055   78093827   64640562    -22.03      -5.8
         2019-04-10   79721587   60889055  103697437     30.92    -23.12
         2019-05-10   74693615   79721587   81869781      -6.3     -8.76
         2019-06-10   80436931   74693615   80968732      7.68     -0.65
         2019-07-10   85867929   80436931   70438298      6.75      21.9
         2019-08-10   84757724   85867929   74370924     -1.29     13.96
         2019-09-10  106117619   84757724   91055038      25.2     16.54
         2019-10-10  102170096  106117619   94921920     -3.71      7.63
         2019-11-10  106039531  102170096  101550181      3.78      4.42
         2019-12-10  107884396  106039531   98389414      1.73      9.65
         2020-02-10  103683135  103313138   78093827      0.35     32.76
         2020-03-10   93394449  103683135   60889055     -9.92     53.38
         2020-04-10  113519599   93394449   79721587     21.54     42.39
         2020-05-10   96001572  113519599   74693615    -15.43     28.52

                         當月累計營收     去年累計營收 前期比較增減(%)
stock_id date
2330 台積電 2004-01-10   201900000        NaN      25.5
         2004-02-10    19160000        NaN      45.9
         2004-03-10    37540000        NaN      47.4
         2004-04-10    57510000        NaN      46.2
         2004-05-10    78140000        NaN      43.1
         2004-06-10    99860000        NaN      39.9
         2004-07-10   122400000        NaN      37.1
         2004-08-10   145500000        NaN      36.1
         2004-09-10   168900000        NaN      34.9
         2004-10-10   192100000        NaN      33.3
         2004-11-10   215100000        NaN      30.8
         2004-12-10   236100000        NaN        29
         2005-01-10   256000000        NaN      26.8
         2005-02-10    20842779   19155894       8.8
         2005-03-10    38042827   37541156      1.33
         2005-04-10    55653217   57513205     -3.23
         2005-05-10    74556623   78143811     -4.59
         2005-06-10    94064283   99863372      -5.8
         2005-07-10   114169434  122382446     -6.71
         2005-08-10   135016500  145530079     -7.22
         2005-09-10   158198537  168943954     -6.36
         2005-10-10   183427049  192117483     -4.52
         2005-11-10   209654203  215087263     -2.52
         2005-12-10   237172641  236073088      0.46
         2006-01-10   264588364  255992427      3.35
         2006-02-10    26177607   20842779     25.59
         2006-03-10    50186460   38042827     31.92
         2006-04-10    77293344   55653217     38.88
         2006-05-10   104455720   74556623      40.1
         2006-06-10   131225894   94064283      39.5
...                         ...        ...       ...
         2017-11-10   794396679  776796410      2.26
         2017-12-10   887549989  869826322      2.03
         2018-01-10   977447241  947938344      3.11
         2018-02-10    79740672   76616258      4.07
         2018-03-10   144381234  148039219     -2.47
         2018-04-10   248078671  233914400      6.05
         2018-05-10   329948452  290786333     13.46
         2018-06-10   410917184  363582307     13.01
         2018-07-10   481355482  447769612       7.5
         2018-08-10   555726406  519380802      6.99
         2018-09-10   646781444  611297969       5.8
         2018-10-10   741703364  699876957      5.97
         2018-11-10   843253545  794396679      6.15
         2018-12-10   941642959  887549989      6.09
         2019-01-10  1031473557  977447241      5.52
         2019-02-10    78093827   79740672     -2.06
         2019-03-10   138982882  144381234     -3.73
         2019-04-10   218704469  248078671    -11.84
         2019-05-10   293398084  329948452    -11.07
         2019-06-10   373835015  410917184     -9.02
         2019-07-10   459702944  481355482     -4.49
         2019-08-10   544460668  555726406     -2.02
         2019-09-10   650578287  646781444      0.58
         2019-10-10   752748383  741703364      1.48
         2019-11-10   858787914  843253545      1.84
         2019-12-10   966672310  941642959      2.65
         2020-02-10   103683135   78093827     32.76
         2020-03-10   197077584  138982882     41.79
         2020-04-10   310597183  218704469     42.01
         2020-05-10   406598755  293398084     38.58

[196 rows x 8 columns]