In [29]:
from finlab.crawler import table_date_range, update_table, to_pickle, out, commit,merge, date_range
import datetime
from io import StringIO
import requests
from bs4 import BeautifulSoup
import time

import numpy as np
#import matplotlib.pyplot as plt
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
#import pandas_datareader.data as web

import os
from openpyxl import load_workbook

def getGold(date):
    url = 'http://finmindapi.servebeer.com/api/v2/data?dataset=GoldPrice&date='+date
    data = requests.get(url)
    data = data.json()
    tmp=pd.DataFrame(data['data'])
    if len((tmp)) == 0:
        tmp=pd.DataFrame()   # holiday
    else:
        tmp=tmp.iloc[[-1]]
        print(tmp)
    return tmp   #only return the last value

In [33]:
#get last date of database
df = pd.read_pickle("history/tables/Gold.pkl")
print(df.index.get_level_values('date').drop_duplicates(keep = 'first') .sort_values())
print(df.shape)

DatetimeIndex(['1979-01-01 00:00:00', '1979-01-02 00:00:00',
               '1979-01-03 00:00:00', '1979-01-04 00:00:00',
               '1979-01-05 00:00:00', '1979-01-08 00:00:00',
               '1979-01-09 00:00:00', '1979-01-10 00:00:00',
               '1979-01-11 00:00:00', '1979-01-12 00:00:00',
               ...
               '2019-12-22 15:53:02', '2019-12-23 15:48:01',
               '2019-12-24 15:58:02', '2019-12-25 15:53:01',
               '2019-12-26 16:00:01', '2019-12-27 15:58:02',
               '2019-12-28 23:30:01', '2019-12-29 06:28:01',
               '2019-12-30 15:58:02', '2019-12-31 15:58:02'],
              dtype='datetime64[ns]', name='date', length=10907, freq=None)
(10907, 1)

In [ ]:
df_combined=pd.DataFrame()
days=pd.date_range(start="2019-01-01",end="2019-12-31")
for date in days:
    df_tmp=getGold(str(date))
    df_combined=df_combined.append(df_tmp)
    #print(date,len(df_combined))
    time.sleep(4)

In [32]:

df_combined=df_combined.set_index('date')
df_combined.index = pd.to_datetime(df_combined.index)
#print(df_combined.shape[0])
goodMonth=0
for i in range(1,13):
    NumDays = df_combined[df_combined.index.month==i].shape[0]
    if NumDays >15:
        goodMonth=goodMonth+1
    print('month '+ str(i) + '=' + str( NumDays))
#print(goodMonth)
#df_combined[df_combined.index.month==1].shape[0]

if goodMonth == 12 and df_combined.shape[0] > 255:
    df=df.append(df_combined)
    df=df.sort_index()
    #print(df)
    #print(df.drop_duplicates())
    df.to_pickle("./history/tables/Gold.pkl")
    print('saved to pickel successfully')
else:
    print('days not enough, check again=========')

month 1=31
month 2=28
month 3=31
month 4=30
month 5=31
month 6=30
month 7=31
month 8=31
month 9=30
month 10=31
month 11=30
month 12=31
saved to pickel successfully

In [110]:
getGold('1980-01-01')

   Price        date
0  512.0  1980-01-01

   Price        date
0  512.0  1980-01-01

In [115]:
df.to_csv("tmp.csv")