In [1]:
import requests
from bs4 import BeautifulSoup
import time

import numpy as np
#import matplotlib.pyplot as plt
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
#import pandas_datareader.data as web
from datetime import datetime, timedelta,date
import os
from openpyxl import load_workbook
import datetime


def get_monthly_report(company_id):
#https://goodinfo.tw/StockInfo/ShowSaleMonChart.asp?STOCK_ID=1101&STEP=DATA&CHT_CAT=ALL
    URL = 'https://goodinfo.tw/StockInfo/ShowSaleMonChart.asp?STOCK_ID='+company_id[:company_id.find(' ')]+'&STEP=DATA&CHT_CAT=ALL'
    my_headers = {'referer': 'https://goodinfo.tw/StockInfo/ShowSaleMonChart.asp?STOCK_ID='+company_id[:company_id.find(' ')],
                  'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36'}

    try:
        response = requests.get(URL, headers=my_headers)
        time.sleep(1)
    except:
        time.sleep(30)
        response = requests.get(URL, headers=my_headers)
        time.sleep(1)

    # print(response.status_code)
    response.encoding = 'utf-8'
    soup = BeautifulSoup(response.text, 'html.parser')


    dataStart = False
    data = []
    data.append([])
    data_index=0
    trs = soup.find_all('tr')


    for i in range(0,len(trs)):

        tds = trs[i].find_all('td')
        if (tds[0].get_text().find('/')!=-1):
            a=tds[0].get_text()
            year=int(a[:a.find('/')])
            month=int(a[a.find('/')+1:])
            month=month+1                #shift month by 1, to be compapible of finlab database
            if month ==13:
                month=1
                year=year+1
            #format_str = '%Y/%m'  # The format
            #datetime_obj = datetime.datetime.strptime(tds[0].get_text(), format_str)
            #print(datetime_obj)
            #dayCode.append(datetime_obj.date())
            
            data[data_index].append(datetime.datetime(year,month,10))  #date
            data[data_index].append(str(int(float(tds[7].get_text().replace(',',''))*100000)))   #當月營收
            data[data_index].append(tds[8].get_text().replace('+',''))                          #上月比較增減(%)
            data[data_index].append(tds[9].get_text().replace('+',''))                          #去年同月增減(%)
            data[data_index].append(str(int(float(tds[10].get_text().replace(',',''))*100000)))  #當月累計營收
            data[data_index].append(tds[11].get_text().replace('+',''))                          #前期比較增減(%)
            
    
            data.append([])
            data_index=data_index+1
            
  

    df = pd.DataFrame(data,columns=['date','當月營收','上月比較增減(%)','去年同月增減(%)','當月累計營收','前期比較增減(%)'])
    df['stock_id']=company_id
    df = df.set_index(['stock_id','date'])
    df = df.dropna(how='all', axis=0)#.dropna(how='all', axis=1)
    df=df.sort_index(level='date', ascending=True)
    print(df)
    #df.to_excel(writer, sheet_name='經營績效', header=False, index=False)





    return
stock='1101 台泥'
get_monthly_report(stock)

                         當月營收 上月比較增減(%) 去年同月增減(%)     當月累計營收 前期比較增減(%)
stock_id date
1101 台泥  1997-07-10   1082000         -         -    7633000         -
         1997-08-10   1297000      19.8         -    8930000         -
         1997-09-10   1062000     -18.1         -    9992000         -
         1997-10-10   1286000        21         -   11280000         -
         1997-11-10   1407000      9.43         -   12680000         -
         1997-12-10   1421000         1         -   14110000         -
         1998-01-10   1604000      12.9         -   15710000         -
         1998-02-10   1355000     -15.5         -    1355000         -
         1998-03-10    983000     -27.5         -    2338000         -
         1998-04-10   1492000      51.9         -    3829999         -
         1998-05-10   1484000     -0.55         -    5315000         -
         1998-06-10   1521000      2.49         -    6836000         -
         1998-07-10   1355000     -10.9      25.2    8190000      7.31
         1998-08-10   1611000      18.9      24.2    9802000      9.77
         1998-09-10   1511000     -6.21      42.2   11310000      13.2
         1998-10-10   1410000     -6.66      9.71   12720000      12.8
         1998-11-10   1308000     -7.26     -7.01   14030000      10.6
         1998-12-10   1521000      16.3      7.04   15550000      10.3
         1999-01-10   1576000       3.6     -1.75   17130000      9.03
         1999-02-10   1510000     -4.18      11.4    1510000      11.4
         1999-03-10   1036000     -31.4      5.48    2546000      8.91
         1999-04-10   1434000      38.4      -3.9    3979999      3.92
         1999-05-10   1556000      8.48      4.82    5536000      4.17
         1999-06-10   1592000      2.31      4.64    7128000      4.28
         1999-07-10   1493000      -6.2      10.2    8621000      5.26
         1999-08-10   1500000      0.49     -6.88   10120000      3.26
         1999-09-10   1471000     -1.97     -2.67   11590000      2.47
         1999-10-10   1285000     -12.6     -8.88   12880000      1.21
         1999-11-10   1388000      7.98      6.09   14269999      1.67
         1999-12-10   1414000      1.89     -7.03   15680000      0.82
...                       ...       ...       ...        ...       ...
         2018-02-10   9617000     -12.5      56.8    9617000      56.8
         2018-03-10   4812000       -50     -19.3   14430000      19.3
         2018-04-10   9750000     102.6      7.34   24180000      14.2
         2018-05-10  11020000      13.1      31.7   35200000      19.1
         2018-06-10  11540000      4.68        36   46740000      22.9
         2018-07-10  10760000     -6.77      36.9   57500000      25.3
         2018-08-10  11010000      2.37      37.1   68510000        27
         2018-09-10  10710000     -2.78        54   79220000      30.1
         2018-10-10  10440000     -2.53      29.3   89660000        30
         2018-11-10  11750000      12.6      40.1  101400000      31.1
         2018-12-10  11780000      0.26        18  113200000      29.6
         2019-01-10  11400000     -3.26      3.76  124600000      26.7
         2019-02-10   9394000     -17.6     -2.32    9394000     -2.32
         2019-03-10   5085000     -45.9      5.68   14480000      0.34
         2019-04-10  10880000     113.9      11.6   25360000      4.86
         2019-05-10  10600000     -2.57     -3.87   35950000      2.13
         2019-06-10  10900000       2.9     -5.51   46860000      0.24
         2019-07-10   9867000     -9.51     -8.28   56720000     -1.35
         2019-08-10  10490000       6.3     -4.76   67210000     -1.89
         2019-09-10  10230000     -2.48     -4.46   77440000     -2.24
         2019-10-10  10120000     -1.06     -3.02   87560000     -2.33
         2019-11-10  11210000      10.8      -4.6   98770000      -2.6
         2019-12-10  11680000      4.16     -0.89  110500000     -2.42
         2020-01-10  12350000      5.74      8.33  122800000     -1.43
         2020-02-10   7502000     -39.2     -20.1    7502000     -20.1
         2020-03-10   5001000     -33.3     -1.66   12500000     -13.6
         2020-04-10   9473000      89.4     -12.9   21980000     -13.3
         2020-05-10  10220000      7.84     -3.58   32189999     -10.4
         2020-06-10  10290000      0.67     -5.67   42480000     -9.34
         2020-07-10   9961000     -3.15      0.95   52440000     -7.55

[277 rows x 5 columns]

In [5]:
df = pd.read_pickle("history/tables/monthly_report_new.pkl")

print(df[df.index.get_level_values('stock_id')=="1101 台泥"])
#print(df)

                         當月營收      上月營收    去年當月營收 上月比較增減(%) 去年同月增減(%)  \
stock_id date
1101 台泥  1997-07-10   1082000       NaN       NaN       NaN       NaN
         1997-08-10   1297000       NaN       NaN      19.8       NaN
         1997-09-10   1062000       NaN       NaN     -18.1       NaN
         1997-10-10   1286000       NaN       NaN        21       NaN
         1997-11-10   1407000       NaN       NaN      9.43       NaN
         1997-12-10   1421000       NaN       NaN         1       NaN
         1998-01-10   1604000       NaN       NaN      12.9       NaN
         1998-02-10   1355000       NaN       NaN     -15.5       NaN
         1998-03-10    983000       NaN       NaN     -27.5       NaN
         1998-04-10   1492000       NaN       NaN      51.9       NaN
         1998-05-10   1484000       NaN       NaN     -0.55       NaN
         1998-06-10   1521000       NaN       NaN      2.49       NaN
         1998-07-10   1355000       NaN       NaN     -10.9      25.2
         1998-08-10   1611000       NaN       NaN      18.9      24.2
         1998-09-10   1511000       NaN       NaN     -6.21      42.2
         1998-10-10   1410000       NaN       NaN     -6.66      9.71
         1998-11-10   1308000       NaN       NaN     -7.26     -7.01
         1998-12-10   1521000       NaN       NaN      16.3      7.04
         1999-01-10   1576000       NaN       NaN       3.6     -1.75
         1999-02-10   1510000       NaN       NaN     -4.18      11.4
         1999-03-10   1036000       NaN       NaN     -31.4      5.48
         1999-04-10   1434000       NaN       NaN      38.4      -3.9
         1999-05-10   1556000       NaN       NaN      8.48      4.82
         1999-06-10   1592000       NaN       NaN      2.31      4.64
         1999-07-10   1493000       NaN       NaN      -6.2      10.2
         1999-08-10   1500000       NaN       NaN      0.49     -6.88
         1999-09-10   1471000       NaN       NaN     -1.97     -2.67
         1999-10-10   1285000       NaN       NaN     -12.6     -8.88
         1999-11-10   1388000       NaN       NaN      7.98      6.09
         1999-12-10   1414000       NaN       NaN      1.89     -7.03
...                       ...       ...       ...       ...       ...
         2018-01-10  10988149   9985897   9418581     10.03     16.66
         2018-02-10   9617393  10988149   6131670    -12.47     56.84
         2018-03-10   4811678   9617393   5964991    -49.96    -19.33
         2018-04-10   9750141   4811678   9083111    102.63      7.34
         2018-05-10  11023422   9750141   8370478     13.05     31.69
         2018-06-10  11539982  11023422   8485032      4.68      36.0
         2018-07-10  10757628  11539982   7858569     -6.77     36.89
         2018-08-10  11013654  10757628   8034396      2.37     37.08
         2018-09-10  10707234  11013654   6952639     -2.78      54.0
         2018-10-10  10436223  10707234   8071192     -2.53      29.3
         2018-11-10  11753303  10436223   8387381     12.62     40.13
         2018-12-10  11784150  11753303   9985897      0.26      18.0
         2019-01-10  11404254  11784150  10986420     -3.22       3.8
         2019-02-10   9394240  11404254   9617393    -17.62     -2.32
         2019-03-10   5085162   9394240   4811678    -45.86      5.68
         2019-04-10  10876929   5085162   9750141    113.89     11.55
         2019-05-10  10596314  10876929  11023422     -2.57     -3.87
         2019-06-10  10903967  10596314  11539982       2.9     -5.51
         2019-07-10   9866871  10903967  10757628     -9.51     -8.28
         2019-08-10  10489337   9866871  11013654       6.3     -4.76
         2019-09-10  10228796  10489337  10707234     -2.48     -4.46
         2019-10-10  10120251  10228796  10436223     -1.06     -3.02
         2019-11-10  11211942  10120251  11753303     10.78      -4.6
         2019-12-10  11678701  11211942  11784150      4.16     -0.89
         2020-02-10   7502141  12349908   9394240    -39.25    -20.14
         2020-03-10   5000692   7502141   5085162    -33.34     -1.66
         2020-04-10   9473250   5000692  10876929     89.43     -12.9
         2020-05-10  10216799   9473250  10596314      7.84     -3.58
         2020-06-10  10285516  10216799  10903967      0.67     -5.67
         2020-07-10   9961312  10285516   9866871     -3.15      0.95

                        當月累計營收     去年累計營收 前期比較增減(%)
stock_id date
1101 台泥  1997-07-10    7633000        NaN       NaN
         1997-08-10    8930000        NaN       NaN
         1997-09-10    9992000        NaN       NaN
         1997-10-10   11280000        NaN       NaN
         1997-11-10   12680000        NaN       NaN
         1997-12-10   14110000        NaN       NaN
         1998-01-10   15710000        NaN       NaN
         1998-02-10    1355000        NaN       NaN
         1998-03-10    2338000        NaN       NaN
         1998-04-10    3829999        NaN       NaN
         1998-05-10    5315000        NaN       NaN
         1998-06-10    6836000        NaN       NaN
         1998-07-10    8190000        NaN      7.31
         1998-08-10    9802000        NaN      9.77
         1998-09-10   11310000        NaN      13.2
         1998-10-10   12720000        NaN      12.8
         1998-11-10   14030000        NaN      10.6
         1998-12-10   15550000        NaN      10.3
         1999-01-10   17130000        NaN      9.03
         1999-02-10    1510000        NaN      11.4
         1999-03-10    2546000        NaN      8.91
         1999-04-10    3979999        NaN      3.92
         1999-05-10    5536000        NaN      4.17
         1999-06-10    7128000        NaN      4.28
         1999-07-10    8621000        NaN      5.26
         1999-08-10   10120000        NaN      3.26
         1999-09-10   11590000        NaN      2.47
         1999-10-10   12880000        NaN      1.21
         1999-11-10   14269999        NaN      1.67
         1999-12-10   15680000        NaN      0.82
...                        ...        ...       ...
         2018-01-10   98313505   89571668      9.75
         2018-02-10    9617393    6131670     56.84
         2018-03-10   14429071   12096661     19.28
         2018-04-10   24179212   21179772     14.16
         2018-05-10   35202634   29550250     19.12
         2018-06-10   46742616   38035282     22.89
         2018-07-10   57500244   45893851     25.28
         2018-08-10   68513898   53928247     27.04
         2018-09-10   79221132   60880886     30.12
         2018-10-10   89657355   68952078     30.02
         2018-11-10  101410658   77339459     31.12
         2018-12-10  113194808   87325356     29.62
         2019-01-10  124599062   98311776     26.73
         2019-02-10    9394240    9617393     -2.32
         2019-03-10   14479402   14429071      0.34
         2019-04-10   25356331   24179212      4.86
         2019-05-10   35952645   35202634      2.13
         2019-06-10   46856612   46742616      0.24
         2019-07-10   56723483   57500244     -1.35
         2019-08-10   67212820   68513898     -1.89
         2019-09-10   77441616   79221132     -2.24
         2019-10-10   87561867   89657355     -2.33
         2019-11-10   98773809  101410658      -2.6
         2019-12-10  110452510  113194808     -2.42
         2020-02-10    7502141    9394240    -20.14
         2020-03-10   12502833   14479402    -13.65
         2020-04-10   21976083   25356331    -13.33
         2020-05-10   32192882   35952645    -10.45
         2020-06-10   42478398   46856612     -9.34
         2020-07-10   52439710   56723483     -7.55

[276 rows x 8 columns]

In [20]:
int(2747000.0)

2747000

In [22]:
#creating all stock list

#allID = df.index.get_level_values('stock_id')
#allID = list(dict.fromkeys(allID))  # remove duplicates
#writer = ExcelWriter('allstocklistMonthlyReport.xlsx', engine='openpyxl')
#df1 = pd.DataFrame(allID)
#df1.to_excel(writer, sheet_name='stock', header=False, index=False)
#writer.save()